@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  background-color: #EDEDED; 
}
navbar {
  padding: .1rem;
}
.navbar-nav li {
  padding-right: 40px;
}
.nav-link {
  font-size: 1.1em !important;
}
  .box {
    margin-top: 40px; 
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px 10px 10px; 
    color:black;
    background-color: white; 
   }
  
h1{
    padding: 10px;
    font-size: 30px;
  }

p{
    padding: 10px;
    margin-top: 10px;
    font-size: 18px; 
}


hr.light {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .left_shown{
    width:50% !important;
    height:40% !important;
}

  .image_column{
    margin: 0 px;
    padding-right: 0px;
    max-width: 100%;
}

  .comparisons_image{
    margin:auto;
    text-align:center; 
}
    
table{
    border-top: none; 
}

